/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       
      .page-header-container {
        padding: 5%;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
       }

       .block {
        display: block;
       }

       .p-1 {
         padding: 1rem;
       }

       .m-1 {
         margin: 1rem
       }

       .hidden {
         visibility: hidden;
       }
      

      .page-heading{ 
        margin: auto;
      }

      .user-thumbnail{
        border-radius: 50%;
        background-color: #cccccc;
        width: 2em;
        height: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 48px;
        color: #ffffff;
        box-shadow: 0px 0px 6px rgba(20, 20, 20, 0.6);
        margin: auto;
      }

      .heading-title{
        margin: auto;
      }
    
      #navLinks {
        display: none;
        text-align: right;
        z-index: 1;
        background-color: white;
        width: 100%;
        font-size: 3em;
        padding: 2%;
      }
        
      .fa{
        font-size: 5em;
      }
        
      .nav-bar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
        background-color: white;
      }
        
      .nav-bar a{
        color: black;
        text-decoration: none;
        display: block;
      }
        
      .nav-bar a.icon {
        display:block;
        position: absolute;
        right: 0;
        top: 0;
        margin: 6% 10%;
      }

      a:hover{
        color: black;
        text-decoration: none;
      }
        
      #map {
        height: 100%;
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
      }


      .content{
        height: 50%;
        margin-top: 15%;
        position:relative;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
      .custom-map-control-button {
        background-color: #fff;
        border: 0;
        border-radius: 2px;
        box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
        margin: 10px;
        padding: 0 0.5em;
        font: 400 18px Roboto, Arial, sans-serif;
        overflow: hidden;
        height: 40px;
        cursor: pointer;
      }
      .custom-map-control-button:hover {
        background: #ebebeb;
      }

      .fruit_tree_list,
      .create_fruit_tree {
        border: 1px solid black;
        width: 100%;
        height: 250px;
        margin: 0 auto
      }

      .fruit-tree-heading{
        margin-top: 1%;
        text-align: center;
      }

      li{
        list-style-type: none;
      }


      .page-footer {
        border: 1px solid black;
        height: 100px;
        display: grid;
        place-items: center;
      }

      .fruit-tree-selection, .add-fruit-form{
        margin: 2.5% 10%;
      }

      button.fruit-tree-submit{
        margin: 0 45%;
      }

      select.fruit-tree-select, .add-fruit-details{
        width: 100%;
        margin: 1% 0;
      }